$color1:white;
$color2:black;
$colorpink:#f45d96;
$colorgray:#444444;

$fontweightfirst:400;
$fontweightsecond:500;
$fontweightthrid:700;

$familyoswald:"Oswald", sans-serif;
$familyquick: "Quicksand", sans-serif;
$familylibre:"Libre Baskerville", serif;